*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-position: absolute;
     background:url(/src/assets/back.jpg);
     background-size: cover;

 }